{% extends 'admin/master.html' %}
{% block body %}
<h2>Edit Course</h2>

<form action="" method="POST" role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{ model.name }}">
  </div>
  
  <div class="form-group">
    <label for="capacity">Capacity</label>
    <input type="number" class="form-control" id="capacity" name="capacity" value="{{ model.capacity }}">
  </div>
  
  <div class="form-group">
    <label for="timeslot">Time Slot</label>
    <input type="text" class="form-control" id="timeslot" name="timeslot" value="{{ model.timeslot }}">
  </div>
  
  <div class="form-group">
    <label for="teacher_id">Teacher</label>
    <select class="form-control" id="teacher_id" name="teacher_id">
      {% for teacher in teachers %}
      <option value="{{ teacher.id }}" {% if teacher.id == model.teacher_id %}selected{% endif %}>
        {{ teacher.username }}
      </option>
      {% endfor %}
    </select>
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('.index_view') }}" class="btn btn-default">Cancel</a>
  </div>
</form>
{% endblock %} 